@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var tableData = '[{\\\"Gid\\\":\\\"bfbc564a-a990-4026-973d-f3710b438af9\\\",\\\"LastUpdateTime\\\":\\\"2014-10-11T11:02:53.987\\\",\\\"RecordStatus\\\":0,\\\"ID\\\":92627,\\\"CustomerID\\\":201951,\\\"CustomerPassportID\\\":50022610002,\\\"CustomerCode\\\":\\\"S110810000003\\\",\\\"CustomerName\\\":\\\"啊不错的\\\",\\\"CustomerUserID\\\":50022240001,\\\"CustomerUserName\\\":\\\"suchanxueshengsan@xueda.com\\\",\\\"FullPinyin\\\":\\\"suchanxueshengsan\\\",\\\"SimplePinyin\\\":\\\"SCXSS\\\",\\\"Gender\\\":1,\\\"Birthday\\\":\\\"2011-08-08T00:00:00\\\",\\\"CurSchoolID\\\":430108,\\\"CurSchoolName\\\":\\\"融安县初级中学\\\",\\\"Grade\\\":34,\\\"PriParentName\\\":\\\"缩单家长三\\\",\\\"PriParentID\\\":201950,\\\"PriParentMobile\\\":\\\"13xxxxx0000\\\",\\\"AllParents\\\":\\\"201950,缩单家长三,祖父\\\",\\\"InquiryUserID\\\":0,\\\"InquiryUserName\\\":null,\\\"InquiryStaffID\\\":0,\\\"InquiryPassportID\\\":0,\\\"InquiryJobPassportID\\\":0,\\\"ManagerStaffID\\\":0,\\\"ManagerPassportID\\\":0,\\\"ManagerJobPassportID\\\":0,\\\"ManagerUserID\\\":0,\\\"ManagerName\\\":null,\\\"InsertStaffID\\\":0,\\\"InsertUserID\\\":345440001,\\\"InsertPassportID\\\":345440002,\\\"InsertStaffName\\\":\\\"倪智\\\",\\\"InsertJobID\\\":0,\\\"InsertJobName\\\":\\\"分会计专员\\\",\\\"InsertJobPassportID\\\":2000510002,\\\"Status\\\":0,\\\"AssetStatus\\\":0,\\\"InsertTime\\\":\\\"2011-08-10T10:33:46\\\",\\\"BranchID\\\":8,\\\"BranchName\\\":\\\"北京分公司\\\",\\\"BranchShortName\\\":\\\"北京\\\",\\\"XDSchoolID\\\":18,\\\"XDSchoolName\\\":\\\"北京分公司方庄校区\\\",\\\"XDSchoolShortName\\\":\\\"北京-方庄\\\",\\\"HostID\\\":0,\\\"Mobile1\\\":\\\"13854700000\\\",\\\"City\\\":0,\\\"OrgID\\\":0,\\\"OrgPath\\\":\\\"1,8,18,\\\",\\\"CommonCourseAmount\\\":1.000,\\\"SpecialCourseAmount\\\":0.000,\\\"LeftAssetValue\\\":248.000,\\\"TotalCourseAmount\\\":1.000,\\\"TotalOrderedCourseAmount\\\":2.000,\\\"TotalAssetCategory\\\":2,\\\"LastCourseTime\\\":\\\"0001-01-01T00:00:00\\\",\\\"OperateTime\\\":\\\"2011-08-10T10:33:46\\\",\\\"ContractStatus\\\":2,\\\"PayStatus\\\":5,\\\"ReturnTime\\\":\\\"0001-01-01T00:00:00\\\",\\\"ReturnInfoItemCount\\\":0,\\\"ProductType\\\":0,\\\"CallType\\\":0,\\\"FromSys\\\":0,\\\"SourceInfo\\\":0,\\\"IsAssignTeacher\\\":0,\\\"ContactType\\\":0,\\\"SignUpdateTime\\\":\\\"2011-08-31T23:09:42\\\",\\\"FromSysID\\\":0,\\\"OriginalFromSys\\\":\\\"BackOffice\\\",\\\"StudentType\\\":0,\\\"TeachingPlaceID\\\":18,\\\"TeachingPlaceName\\\":\\\"北京分公司方庄校区\\\",\\\"InquiryPlaceID\\\":18,\\\"InquiryPlaceName\\\":\\\"北京分公司方庄校区\\\",\\\"SalePhase\\\":0,\\\"AddressDetail\\\":\\\"\\\",\\\"PurchaseIntention\\\":0,\\\"NextReturnTime\\\":\\\"0001-01-01T00:00:00\\\",\\\"CustomerType\\\":1,\\\"SourceSignStaffName\\\":\\\"周丽伟\\\",\\\"FollowupNum\\\":0,\\\"SourceMainType\\\":3165,\\\"SourceMainValue\\\":\\\"纸媒\\\",\\\"SourceSubType\\\":15,\\\"SourceSubValue\\\":\\\"京华时报\\\",\\\"InsertJobType\\\":6,\\\"InsertJobTypeName\\\":\\\"校教育咨询部\\\",\\\"LastFollowupTime\\\":\\\"0001-01-01T00:00:00\\\",\\\"NextFollowupTime\\\":\\\"0001-01-01T00:00:00\\\",\\\"CustomerLevel\\\":0,\\\"CustomerMobile\\\":null,\\\"InsertDepartID\\\":10,\\\"InsertDepartName\\\":\\\"北京-财务\\\",\\\"ClassEndState\\\":0,\\\"ClassEndDate\\\":\\\"0001-01-01T00:00:00\\\",\\\"ReturnPrePassDate\\\":\\\"0001-01-01T00:00:00\\\",\\\"LockType\\\":1,\\\"CustomerGroup\\\":2,\\\"TelJobPassprotID\\\":0,\\\"TelPassprotID\\\":0,\\\"TelStaffName\\\":null,\\\"TelStaffID\\\":0,\\\"TelJobID\\\":0,\\\"PotentialType\\\":0,\\\"VipType\\\":0,\\\"VipLevel\\\":0,\\\"DataSourceType\\\":1,\\\"Pretreatment\\\":11,\\\"HasRelation\\\":0,\\\"IsSubjectGroupSchool\\\":false,\\\"IsAssignSubjectGroup\\\":false,\\\"HasTeacher\\\":0,\\\"UnValidType\\\":0,\\\"HasExam\\\":0,\\\"LastModified\\\":\\\"AAAAAAAADKY=\\\"}]';
            var data = '[{"TableName": "CustomerSearch","Data":"'+tableData+'"}]';
            $("#btnPost").click(function () {
                $.post("/SYNC/UpdateInOne", { "data": data }, function (result) {
                    alert(result);
                })
            })
        })
    </script>
</head>
<body>
    <div>
        <input type="button" id="btnPost" value="Post" />
    </div>
</body>
</html>
